In [17]:
from gurobipy import *
import networkx as nx
import math
import re
import pandas as pd

In [32]:
def data_load(fileName):
    listSet = []
    list_temp = []
    start_flag = False
    with open(fileName, "r") as file:
        for line in file:
            if line.strip() == "":
                if list_temp:
                    listSet.append(list_temp.copy())
                    # print(list_temp)
                    list_temp.clear()
                start_flag = True;
                continue
            if start_flag == True:
                if line.find(":") > -1:
                    continue
                else:
                    list_temp.append(line.split())

    df_courses = pd.DataFrame(listSet[0], columns=['courseID','teacher','countOfLectures','minWorkingDays','countOfStudents'])
    df_courses = df_courses.set_index('courseID', drop=True)
    df_rooms = pd.DataFrame(listSet[1], columns=['roomID', 'capacity'])
    df_rooms = df_rooms.set_index('roomID', drop=True)
    dict_curricula = {}
    df_unavailability_constraints = pd.DataFrame(listSet[3], columns=['courseID','day','dayPeriod'])
    df_unavailability_constraints = df_unavailability_constraints.set_index('courseID', drop=True)

    dict_temp = {}
    for item in listSet[2]:
        for i in range(len(item)):
            if i == 1:
                dict_temp['count'] = item[i]
            if i == 2:
                dict_temp['members'] = item[i:]
        dict_curricula[item[0]] = dict_temp.copy()
        dict_temp.clear()

    return df_courses, df_rooms, dict_curricula, df_unavailability_constraints

In [33]:
df_courses, df_rooms, dict_curricula, df_unavailability_constraints = data_load('comp02.ctt')

In [34]:
dict_curricula

{'q000': {},
 'q001': {},
 'q002': {},
 'q003': {},
 'q004': {},
 'q005': {},
 'q006': {},
 'q007': {},
 'q009': {},
 'q010': {},
 'q011': {},
 'q012': {},
 'q013': {},
 'q014': {},
 'q015': {},
 'q016': {},
 'q017': {},
 'q018': {},
 'q019': {},
 'q020': {},
 'q021': {},
 'q022': {},
 'q024': {},
 'q025': {},
 'q026': {},
 'q027': {},
 'q028': {},
 'q029': {},
 'q030': {},
 'q031': {},
 'q033': {},
 'q034': {},
 'q035': {},
 'q036': {},
 'q037': {},
 'q038': {},
 'q039': {},
 'q040': {},
 'q041': {},
 'q042': {},
 'q043': {},
 'q044': {},
 'q045': {},
 'q046': {},
 'q047': {},
 'q048': {},
 'q049': {},
 'q050': {},
 'q051': {},
 'q052': {},
 'q053': {},
 'q054': {},
 'q055': {},
 'q056': {},
 'q057': {},
 'q060': {},
 'q061': {},
 'q062': {},
 'q063': {},
 'q064': {},
 'q065': {},
 'q066': {},
 'q067': {},
 'q068': {},
 'q069': {},
 'q070': {},
 'q071': {},
 'q072': {},
 'q073': {},
 'q074': {}}

In [30]:
df_courses

         teacher countOfLectures minWorkingDays countOfStudents
courseID
c0131       t000               3              2             150
c0211       t001               3              3             147
c0095       t002               3              3              89
c0152       t003               3              3             150
c0103       t004               3              3             114
...          ...             ...            ...             ...
c0337       t066               3              3              64
c0307       t067               5              4              23
c0633       t068               5              4             214
c0368       t069               3              3              31
c0388       t070               5              4              69

[82 rows x 4 columns]

In [27]:
df_rooms

       capacity
roomID
36           42
37           42
38           48
31           50
27           90
B           216
D           216
E           216
F           216
G           216
A           312
L           336
50           80
52           90
DS1          90
DS2          90

In [25]:
df_unavailability_constraints

         day dayPeriod
courseID
c0211      0         2
c0211      0         3
c0211      0         4
c0211      1         2
c0211      1         3
...       ..       ...
c0337      4         3
c0337      4         4
c0368      0         0
c0368      2         4
c0368      4         4

[513 rows x 2 columns]

In [31]:
dict_curricula

{'q000': {},
 'q001': {},
 'q002': {},
 'q003': {},
 'q004': {},
 'q005': {},
 'q006': {},
 'q007': {},
 'q009': {},
 'q010': {},
 'q011': {},
 'q012': {},
 'q013': {},
 'q014': {},
 'q015': {},
 'q016': {},
 'q017': {},
 'q018': {},
 'q019': {},
 'q020': {},
 'q021': {},
 'q022': {},
 'q024': {},
 'q025': {},
 'q026': {},
 'q027': {},
 'q028': {},
 'q029': {},
 'q030': {},
 'q031': {},
 'q033': {},
 'q034': {},
 'q035': {},
 'q036': {},
 'q037': {},
 'q038': {},
 'q039': {},
 'q040': {},
 'q041': {},
 'q042': {},
 'q043': {},
 'q044': {},
 'q045': {},
 'q046': {},
 'q047': {},
 'q048': {},
 'q049': {},
 'q050': {},
 'q051': {},
 'q052': {},
 'q053': {},
 'q054': {},
 'q055': {},
 'q056': {},
 'q057': {},
 'q060': {},
 'q061': {},
 'q062': {},
 'q063': {},
 'q064': {},
 'q065': {},
 'q066': {},
 'q067': {},
 'q068': {},
 'q069': {},
 'q070': {},
 'q071': {},
 'q072': {},
 'q073': {},
 'q074': {}}